{%extends 'registration/base_registration.html'%}
{% load widget_tweaks %}
{%block content%}

{%block title%}reset confirm{%endblock%}
{% if validlink %}
  <form method='POST'  >
{%csrf_token%}

    <h1 class="h3 mb-3 fw-normal-start">Password reset confirmation</h1>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
{%for field in form%}
    <div class="mb-3">
        {{ field.errors }}
        {{ field.label_tag }} {{ field|add_class:'form-control'}}
    </div>
{%endfor%}


    <button class="btn btn-primary w-50 py-2 " type="submit">Reset Password</button>

    <div>
      <div>
        <span>forgot password?</span>
      </div>
      <div>
        <a href="{%url 'register'%}"><span class='badge bg-secondary'>signup</span>  </a>
        <a href=""><span class="badge bg-secondary">Home</span></a>  
      </div>   

    

    </div>
  </form>
  {% else %}
  <p class='alert alert-warning'>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
<p>
    <a class="btn btn-success" href="{%url 'blog:index'%}">Home</a>
    <a class="btn btn-primary" href="{%url 'password_reset'%}">Reset Password</a>
</p>
{% endif %}






{%endblock%}