{%extends 'registration/base_registration.html'%}
{%load static%}
{%block title%}Password reset done{%endblock%}
{%block content%}
<div class="password_reset_done base_register">
    <div class="content">
        <div class="border_insc">
            <div class="logo">
                <img src="{%static '/images/logo.png'%}" alt="together logo">
            </div>
            <div class='desc-alert'>
                <p class='alert alert-success'>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                </p>
                <a class="btn btn-primary btn-block mb-4" href="{%url 'home'%}"> 
                        Home
                   </a>
            </div>
        </div>
    </div>
</div>
{%endblock%}