{%extends 'registration/base_registration.html'%}
{%load static%}
{%block title%}Password reset confirm{%endblock%}
{%block content%}
<div class="password_reset_confirm base_register">
    <div class="content">
        <div class="border_insc">
            <div class="logo">
                <img src="{%static '/images/logo.png'%}" alt="together logo">
            </div>
            {% if validlink %}
          
                {%if form.non_field_errors%}
                    <div class="errorlist nonfield">
                        {%for error in form.non_field_errors%}
                        <div class="error alert alert-warning">
                            {{error}}
                        </div>
                        {%endfor%}
                    </div>
                {%endif%}
            
            
            <form action="" method="post">
                {%csrf_token%}
                {%for field in form%}

                <div>
                    {{field.label_tag}} {{field}}
                </div>
                {%if field.errors%}
                        {%for error in field.errors%}
                        <div class="error alert alert-warning">
                            {{error}}
                        </div>
                        {%endfor%}
                {%endif%}
                {%endfor%}
               
                <button class="log_btn">
                    Reset Password
                </button>
            </form>
            {% else %}
            <div class='desc-alert'>
                <p class='alert alert-warning'>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                <p>
                    <a class="btn btn-success" href="{%url 'home'%}">Home</a>
               
                </p>
            </div>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}