{%extends 'registration/base_registration.html'%}

{%load static%}
{%block title%}reset password{%endblock%}


{%block content%}
        <div class="password_reset base_register">
            <div class="content">
                <div class="log-on border_insc">
                    <div class="logo">
                        <img src="{%static '/images/logo.png'%}" alt="together logo">


                    </div>
        

                    <form action="" method="post">
                        {%csrf_token%}

                        {%for field in form%}
                        <div>

                           {{field.label_tag}} {{field}}
                            
                        </div>
                        {%endfor%}
                        

                   
                        <button class="log_btn">
                                Reset Password
                        </button>
                    
                    </form>
                </div>
 

            </div>
        </div>
{%endblock%}