{%load static%}
<!-- modal for block -->
{%if is_block%}
<div class="modal modal-container block" id="unblock-clone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Unblock {{owner}}</h2>
            </div>
            <div class="content">
                <h5>they will now be able to see your posts and follow you on Together.Together won't let them know you unblocked them.</h5>
                <a href="#" class='action' data-to_user='{{owner}}'>Unblock</a>
                <a href="#" class="cancel">cancel</a>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-container block-done" id="unblocked-clone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Unblocked {{owner}}.</h2>
            </div>
            <div class="content">
                <h5>You can block them anytime from their profile.</h5>
                <a href="#" class="cancel">Dismis</a>
            </div>
        </div>
    </div>
</div>
{%else%}
<div class="modal modal-container block" id="block-clone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                
                <h2 class="modal-title">block {{owner}}?</h2>
            </div>
            <div class="content">
                <h5>they won't be able to find your profile,posts on Together.Together won't let them know you blocked them.</h5>
                <a href="#" class="block-action" data-to_user={{owner}}>block</a>
                <a href="#">cancel</a>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-container block-done" id="blocked-clone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Blocked {{owner}}.</h2>
            </div>
            <div class="content">
                <h5>You can unblock them anytime from their profile.</h5>
                <a href="#">Dismis</a>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-container unfollow-done" id="unfollowed-clone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Unfollowed {{owner}}.</h2>
            </div>
            <div class="content">
                <h5>You can follow them anytime from their profile.</h5>
                <a href="#">Dismis</a>
            </div>
        </div>
    </div>
</div>
{%endif%}
<!-- end modal for block -->

<!--Create model-->
<div class="modal modal-container fade" id="create_modal_clone" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title w-100 fs-5 d-flex align-items-end justify-content-between" id="exampleModalLabel">
                    <span class="title_create">Create new post</span>
                    <button class="next_btn_post btn_link"></button>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img class="up_load" src="{% static 'images/upload.png' %}" alt="upload">
                <p>Drag photos and videos here</p>
                <button class="btn btn-primary btn_upload">
                    select from your computer
                    <form id="upload-form">
                        <input class="input_select" type="file" id="image-upload" name="image-upload">
                    </form>
                </button>
                <div id="image-container" class="hide_img">
                </div>
                <div id="image_description" class="hide_img">
                    <div class="img_p"></div>
                    <div class='progress-div'>
                        
                    <progress id="progress" value="0" max="100"></progress>
                    </div>
                    <div class="description">
                        <div class="cart">
                            <div>
                                <div class="img">
                                    <img src="{{user.profile.profile_image.url}}">
                                </div>
                                <div class="info">
                                    <p class="name">{{user.get_full_name}}</p>
                                </div>
                            </div>
                        </div>
                        <form>
                            <textarea type="text" id="description" placeholder="write..."></textarea>
                        </form>
                    </div>
                </div>
                <div class="post_published hide_img">
                    <img src="{% static 'images/uploaded_post.gif' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal for  more  -->
<div class="modal modal-container fade " id="more_modal-clone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action report_btn">report post</a>
                <a href="#" class="list-group-item list-group-item-action" id='delete_modal-clone'>delete</a>
                <a href="#" class="list-group-item list-group-item-action cancel" data-bs-dismiss="modal">cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- submit delete-->

<div class="modal modal-container block" id="submit_delete_modal-clone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Delete Post</h2>
            </div>
            <div class="content">
                <h5>are you sure to delete this post?</h5>
                <a href="#" class='action' >delete</a>
                <a href="#" class="cancel">cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- report post-->
<div class="modal modal-container" id="report_post_modal-clone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Report Post</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="report-list">
                <h5>why are you reporting this post?</h5>
            </div>
        </div>
    </div>
</div>
<!-- other report steps-->
<div class="modal modal-container" id="other_report_step-clone">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">thanks for letting us know</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="other-steps">
                <h5>other steps you can take:</h5>
            </div>
        </div>
    </div>
</div>
<!-- Modal for add messages-->
<div class="modal modal-container fade" id="message_modal_clone" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Comments</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body comment-body">
                <div class="comments-clone hide">
                    <div class="comment">
                        <div class="d-flex">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="content">
                                <div class="person">
                                    <h4>namePerson</h4>
                                    <span>3j</span>
                                </div>
                                <p>Wow amzing shot</p>
                                <div class="replay">
                                    <button class="replay reply-btn">reply</button>
                                    <div id='drop-down'>
                                        <button class='delete-comment'>...</button>
                                        <div class="drop-down-content">
                                            <a class='delete-btn-comment' href="#">delete</a>
                                            <a href="#">cancel</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="answers">
                                    <button class="see_comment">
                                        <span class="hide_com hide">Hide all responses</span>
                                        <span class="show_c"> <span class="line"></span> See the <span> 1
                                            </span> answers</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="like">
                            <img class="not_loved" src="{% static 'images/love.png' %}" alt="">
                            <img class="loved" src="{% static 'images/heart.png' %}" alt="">
                            <p> 55</p>
                        </div>
                    </div>
                    <div class="responses-clone hide">
                        <div class="response comment">
                            <div class="d-flex">
                                <div class="img">
                                    <img src="" alt="">
                                </div>
                                <div class="content">
                                    <div class="person">
                                        <h4>namePerson</h4>
                                        <span>3j</span>
                                    </div>
                                    <p>Wow amzing shot</p>
                                    <div class="replay">
                                        <button class='reply-btn'>reply</button>
                                        <div id='drop-down'>
                                            <button class='delete-comment'>...</button>
                                            <div class="drop-down-content">
                                                <a class='delete-btn-comment' href="#">delete</a>
                                                <a href="#">cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="like">
                                <img class="not_loved" src="{% static 'images/love.png' %}" alt="">
                                <img class="loved" src="{% static 'images/heart.png' %}" alt="">
                                <p> 55</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {%if user.is_authenticated%}
                <form>
                    <div class="input">
                        <img src="{{user.profile.profile_image.url}}" alt="">
                        <input type="text" id="emoji_comment" placeholder="Add a comment..." />
                    </div>
                    <!-- <div class="emogi">
                                <img src="./images/emogi.png" alt="">
                            </div> -->
                </form>
                {%else%}
                <div class="alert alert-warning">You must be <a href="{%url 'login'%}">logged</a> in to comment and like posts.</div>
                {%endif%}
            </div>
        </div>
    </div>
</div>

<div id="report-problem-modal" class="messages-modal">
    <div class="report-problem-div modal-content" >
        <img class='message-logo'src="{% static 'images/message_logo.png' %}">
        <form class="report-problem-form">
            <textarea placeholder="report problem"></textarea>
            <input type="submit" class='submit' name="Report" value="Report">
        </form>
    </div>
</div>

<div id="report-problem-modal-sent" class="messages-modal">
    <div class="report-problem-div modal-content">
        <img class='message-logo' src="{% static 'images/message_logo.png' %}">
        <h1>Your Report Sent</h1>
        <img class='submited' src="{%static 'images/green-tick.png'%}">
    </div>
</div>