    {%load humanize%}
    {%load social_tags%}
    <div class="card hidden" >
        <div class="card__header">
            <img src="" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">

            <h4 class='post-title'></h4>
            <p class='post-text'></p>
        </div>
        <div class="card__footer">
            <div class="user">

                <div class="user__info">
                    <small class='post-created'></small>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
      {%for object in object_list%}
        <div class="card">
            <div class="card__header">
                <img src="{{object.image.url}}" alt="card__image" class="card__image" width="600">
            </div>
            <div class="card__body">
                {%with object.id as post%}
                {%liked post as is_liked %}
                <div class='like' data-type='{{is_liked}}' data-post='{{object.id}}'data-like='{% get_like_id post %}'>
                   
                    <i class="fa-solid fa-heart {%if is_liked%}liked{%endif%}"></i>
                    <span>{%count_like post%}</span>
                    
                </div>
                {%endwith%}

                <h4 class='post-title'>{{object.title}}</h4>
                <p class='post-text'>{{object.text}}</p>
            </div>
            <div class="card__footer">
                <div class="user">

                    <div class="user__info">
                        <small class='post-created'>{{object.created|naturaltime}}</small>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}

    </div>