{%extends 'base.html'%}
{% load static%}
{% load humanize%}
{%load social_tags%}
{%block content%}
<!--***** nav menu end ****** -->
<div class="second_container">
    <!--***** posts_container start ****** -->
    <div class="main_section">
        <div class="posts_container">
            <div class="stories">
                <div class="owl-carousel items">
                </div>
            </div>
            <div class="posts">
                <div class='post-clone hide' data-post>
                    <div class="info">
                        <div class="person">
                            <img src="">
                            <a href="#"></a>
                            <span class="circle">.</span>
                            <span>just now</span>
                        </div>
                        <div class="more" data-bs-toggle="modal" data-bs-target="#delete_modal">
                            <img src="{% static 'images/show_more.png' %}" alt="show more">
                        </div>
                    </div>
                    <div class="image">
                        <img src="">
                    </div>
                    <div class="desc">
                        <div class="icons">
                            <div class="icon_left d-flex">
                                <div class="like" data-type='False' data-post='' data-like>
                                    <img class="not_loved " src="{% static 'images/love.png' %}">
                                    <img class="loved" src="{% static 'images/heart.png' %}">
                                </div>
                                <div class="chat">
                                    <button type="button" class="btn p-0" >
                                        <img src="{% static 'images/bubble-chat.png' %}">
                                    </button>
                                </div>

                            </div>
                            <div class="save not_saved">
                                <img class="hide saved" src="{% static 'images/save_black.png' %}">
                                <img class="not_saved" src="{% static 'images/save-together.png' %}">
                            </div>
                        </div>
                        <div class="liked" data-likeCount="0">
                        </div>
                        <div class="post_desc">
                            <p class='post_text'>
                                <a class="bold" href="#">{{post.user}}</a>
                                <span>{{post.text}}</span>
                                
                            </p>
                            <p class='view-comments'></p>
                            
                        </div>
                    </div>
                </div> 
                {% for post in object_list%}
                <div class='post' data-post='{{post.id}}'>
                    <div class="info">
                        <div class="person">
                            <img src="{{post.user.profile.profile_image.url}}">
                            <a href="#">{{post.user}}</a>
                            <span class="circle">.</span>
                            <span>{{post.created|naturaltime}}</span>
                        </div>
                        {%if post.user == user %}
                        <div class="more" data-bs-toggle="modal" data-bs-target="#delete_modal">
                            <img src="{% static 'images/show_more.png' %}" alt="show more">
                        </div>
                        {%endif%}
                    </div>
                    <div class="image">
                        <img src="{{post.image.url}}">
                    </div>
                    <div class="desc">
                        <div class="icons">
                            <div class="icon_left d-flex">
                                {%with post.id as post_id %}
                                {%liked post_id as is_liked %}
                                <div class="like" data-type='{{is_liked}}' data-post='{{post.id}}' data-like='{% get_like_id post_id %}'>
                                    <img class="not_loved {%if is_liked %}hide_img{%endif%}" src="{% static 'images/love.png' %}">
                                    <img class="loved {%if is_liked%}display {%endif%}" src="{% static 'images/heart.png' %}">
                                </div>
                                <div class="chat">
                                    <button type="button" class="btn p-0" >
                                        <img src="{% static 'images/bubble-chat.png' %}">
                                    </button>
                                </div>

                            </div>
                            {% is_saved post_id as status%} 
                            <div class="save not_saved" data-status={{status}} data-saved={%saved_post_id post_id %}>
                                <img class="{%if not status%}hide{%endif%} saved" src="{% static 'images/save_black.png' %}">
                                <img class="not_saved{%if status%} hide{%endif%}" src="{% static 'images/save-together.png' %}">
                            </div>
                        </div>
                        {%count_like post_id as likes%}
                        <div class="liked" data-likeCount={%count_like post_id%}>
                            {%if likes > 0%}
                            <span>{%count_like post_id%}</span> like{{likes|pluralize:"s" }}
                            {%endif%}
                        </div>
                        {%endwith%}
                        <div class="post_desc">
                            <p>
                                <a class="bold" href="#">{{post.user}}</a>
                                <span>{{post.text}}</span>
                            </p>
                            
                            <p class='view-comments'>{%if post.comment.count != 0 %}<a class="gray" href="#">View all <span>{{post.comment.count}}</span> comments
                            </a>{%endif%}</p>
                            
                            
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </div>
    <!--***** posts_container end ****** -->

</div>
{%endblock%}