{%extends 'base.html'%}
{%load static%}

{%block content%}
        <div class="profile_container">
            <div class="profile_info">
                <div class="cart">
                        <div class="img">
                            <img src="{{owner.profile.profile_image.url}}" alt="">
                        </div>
                        <div class="info">
                            <p class="name">
                                {{user.username}}
                                {%if owner == user%}
                                <button class="edit_profile">
                                    Edit profile 
                                </button>
                                {%else%}
                                {% if access%}
                                <button class="contact" data-btn='unfollow' data-contact={{contact_id}} data-owner={{owner.id}}>
                                    unfollow
                                </button>
                                {%else%}
                                <button class="contact" data-btn='follow' data-owner={{owner.id}}>
                                    follow
                                </button>
                                {%endif%}
                                {%endif%}
                            </p>
                            <div class="general_info">
                                <p><span>{{total_post}}</span> post</p>
                                <p><span>{{follower_count}}</span> followers</p>
                                <p><span>{{following_count}}</span> following</p>
                            </div>
                            <p class="nick_name">{{owner.get_full_name}}</p>
                            <p class="desc">
                                {{owner.profile.bio}}
                            </p>
                        </div>
                        <br>
                </div>
            </div>

            <hr>
            <div class="posts_profile">
                <ul class="nav-pills w-100 d-flex justify-content-center" id="pills-tab" role="tablist">
                    <li class="nav-item mx-2" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                            <img src="{% static 'images/feed.png' %}" alt="posts">
                            POSTS
                        </button>
                    </li>
                    <li class="nav-item mx-2" role="presentation">
                      <button class="nav-link" id="pills-saved-tab" data-bs-toggle="pill" data-bs-target="#pills-saved" type="button" role="tab" aria-controls="pills-saved" aria-selected="false">
                        <img src="{% static 'images/save-instagram.png' %}" alt="saved posts">
                        SAVED
                      </button>
                    </li>

                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        <div id="posts_sec" class="post">
                            {%for post in object_list%}
                            <div class="item">
                                <img class="img-fluid item_img" src="{{post.image.url}}" alt="">
                            </div>
                            {%endfor%}

                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-saved" role="tabpanel" aria-labelledby="pills-saved-tab" tabindex="0">
                        <div id="saved_sec" class="post">

                            
                        </div>
                    </div>

                    
                  </div>
            </div>
        </div>

{%endblock%}