{%extends 'social/base_social.html'%}
{% load static%}
{%block profile_info%}
<div class="cover-photo">
    <img src="
        {%if user.profile.profile_image%}
        {{user.profile.profile_image.url}}
        {%else%}
        {%static 'img/profile_image/blank-profile.png'%}
        {%endif%}" class="profile">
</div>
<div class="setting">
    <div class="profile-name">{{owner.username}}
      
    </div>
    {%if request.path == '/profile/'%}
      <div class="menu">
            <i class="fa-solid fa-bars"></i>
            <div class="hidden">
                
                <button class='btn' data-type='info'>Info</button>
                <button class='btn' data-type='liked-post'>liked post</button>
                <button class='btn' data-type='logout'> logout</button>
            </div>
            
        </div>
        <form method ='POST' action='{%url "logout"%}' class="hidden logout">
            {%csrf_token%}
            
        </form>
            
{%endif%}
</div>
<p class="about">User Interface Designer and<br>front-end developer</p>
{%if owner != user%}
<button class="msg-btn">Message</button>
{%if access%}
<button class="btn " data-type='unfollow' data-owner='{{owner.id}}' data-contact='{{contact_id}}'>UnFollow</button>
{%else%}
<button class="btn " data-type='follow' data-owner='{{owner.id}}' data-contact='{{contact_id}}'>Follow</button>
{%endif%}
{%endif%}
{%endblock%}
{%block posts%}
{%if user == owner or access %}
{%include 'partials/_posts.html'%}
{%else%}
follow {{owner.username}}
{%endif%}
{%endblock%}