img{
  pointer-events: none;
}

#drop-down,.drop-down{
  display: inline-block;
  position: relative;
}



#drop-down .drop-down-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
.drop-down .drop-down-content{
    
    position: absolute;
    text-align: center;
    width: 200px;
    right: 130%;
    top: 0;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


  /* Links inside the dropdown */
  .drop-down-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .drop-down section.drop-down-content a img{
    width: 25px;
    margin-right: 0;
  }

  /* Change color of dropdown links on hover */
  .drop-down-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  #drop-down .show-drop {display:block;}
  .drop-down .show-drop{display: block}
/*  settings css*/




.tab-menu{
/*  border: 1px solid black;*/
  display: grid;
  grid-template-columns: 1fr 3fr;

}

@media screen and (max-width: 498px) {
  .tab-menu{
  display: grid;
  grid-template-columns: 1fr ;


}

  .tab-content .row .title{
    display: flex;
    align-items: center;


  }
  .tab-content .row h1{
    
    flex-basis: 100%;
    text-align: center;
  }

}
.tab-menu .tab{
  display: flex;
  flex-direction: column;
  
  padding: 0px 15px;
  margin-right: 10px;

}
.tab div{
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.tab button {
      display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  color: black;
  padding: 15px 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  margin-top: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #f1f1f1;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

.tab-content {
  
  margin-top: 50px;
  padding: 0px 12px;
  
  
  border-left: none;
  
}


.tab-content .row .col{
  margin-top: 15px;
}
input{
  width: 100%;
    border: 2px solid #ccc;
  border-radius: 4px;
  
  font-size: 16px;
}
textarea{
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  
  font-size: 16px;
  resize: none;
}

#edit-profile .image-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}
#edit-profile .image-container img{
  width: 150px;
}
#edit-profile .image-container button{
    background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-self: end;
}

#edit-profile .image-container button:hover{
  transform: scale(1.05) translateY(.125rem);
}



button.save{
  margin-top: 15px;
    appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}


/*checkbox css*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.is-private{
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.is-private span{
  font-size: 20px;
}
.is-private label{
  justify-self: end;
}


#account-privacy p{
  padding: 20px;
  font-size: 20px;
}



.messages{
  margin-top: 20px;
  text-align: center;
}


/*follower and following list*/
.connection-container{
  overflow: scroll;
  height: 60vh;
}
.connection-list{
  padding: 5px;
  display: grid;
  grid-template-columns:1fr 2fr 4fr;
  align-items:center;
}
.connection-list img{
  width: 40px;
  border-radius: 50%;
}
.connection-list .user-info{
  justify-self:start;
}
.connection-list .user-info p{
  padding: 0;
  margin: 0;
}
.connection-list .user-info .username{
  font-weight: bold;
}
.connection-list .connect-button{
  justify-self: end;
}



/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}



/*profile post detail css*/
#backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  z-index: 1000;
}
#favDialog {
  display: none;
  position: fixed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  padding: 0;
  background-color: #fff;
  border: 2px solid burlywood;
  border-radius: 5px;
  margin: auto;
  z-index: 1000;

  
}
#favDialog-clone{
  display: none;
}

/*dialog#favDialog[open]::backdrop{

  background-color: rgb(0,0,0,25%);
}*/
#favDialog .image-container{
  float: left;
  width: 40%;
  height: 100%;
}
#favDialog .image-container img{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#favDialog .comment-container{
  width: 60%;
  height: 100%;
  float: right;
}
.comment-container .post{
  height: 100%;
  padding: 10px;
}

.comment-container .post .info {
  height: 10%;
  
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comment-container .post .info .person a {
  color: rgb(38, 38, 38);
  font-weight: 600;
  margin-right: 5px;
}

.comment-container .post .info .person span {
  color: rgb(142, 142, 142);
  list-style: circle;
  font-weight: 400;
  position: relative;
  top: -1px;
}

.comment-container .post .info .person span.circle {
  align-items: center;
  font-size: 30px;
}

.comment-container .post .info .person img {
  width: 32px;
  height: 32px;
  border-radius: 30px;
  padding: 5px;
}

.comment-container .post .info .more img{
    width: 15px;
  height: 15px;
}

.comment-container .post .desc{
  height: 80%;

}

.comment-container .post .desc.anon {
  height: 65%;
}
.comment-container .post .desc .post_desc{
  height: 80%;
}
.comment-container  .post .desc .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
.comment-container  .post .desc .icons div img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.comment-container  .post .desc input {
  border: none;
  color: rgb(142, 142, 142);
}


.comment-container .post .desc p {
  font-weight: 400;
  margin: 10px 0;
}
.comment-container .post .desc a.bold {
  font-weight: 600;
  color: rgb(38, 38, 38);
}
.comment-container .post .desc a.gray {
  color: rgb(142, 142, 142);
  font-weight: 400;
}
.comment-container .post .desc .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}
.comment-container .post .desc .icons div img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.comment-container .post .desc input {
  border: none;
  color: rgb(142, 142, 142);
}

#confirm-delete{
  display: none;
  position: absolute;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  background-color: #fff;
  z-index: 2000;
  left: calc(50%);
  top: calc(50%);
  transform: translate(-50%, -50%);
}

#confirm-delete .header{
  margin-bottom: 20px;
}




/* CSS */
#confirm-delete .content button.delete {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#confirm-delete .content button.delete:hover,
#confirm-delete .content button.delete:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

#confirm-delete .content button.delete:active {
  opacity: .5;
}



/* CSS */
#confirm-delete .content button.cancel {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

#confirm-delete .content button.cancel:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

#confirm-delete .content button.cancel:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

#confirm-delete .content button.cancel:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}



/*post detail style*/

.post_desc .comment-body{
  height: 80%;
  overflow: scroll;
}





.nav .menu ul li a.active {
  font-weight: bold;
}


/*private page profile*/
div.is_private{
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
}
div.is_private img{
  align-self: start;
}

div.is_private .private_desc{
  display: grid;

}

div.is_private .private_desc .private_title{
font-weight: bold;
}

/*end private page*/


/*notification btn*/




/* CSS */
#notification .notif_btn.confirm_follow,
#notification .notif_btn.follow_back
 {
  margin-right: 5px;
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

#notification .notif_btn.delete_request {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

/*more modal*/
#more_modal .list-group .report_btn{
  color: red;
}

/*report modal*/
#report_post_modal .modal-header h2.modal-title{
  font-size: 1.5rem;
}
#report_post_modal .report-list a{
  color: black;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #deede6;
}

#report_post_modal .report-list a:hover{
  background-color: #f8f9fa;
}



#report_post_modal .report-list h5{
  padding:10px;
}

/*other next modal*/
#other_report_step .modal-header h2.modal-title{
  font-size: 1.5rem;
}
#other_report_step .other-steps a{
  color: black;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #deede6;
}

#other_report_step .other-steps a:hover{
  background-color: #f8f9fa;
}

#other_report_step .other-steps h5{
  padding:10px;
}

/*backdrop*/
.modal-container{
  background-color: rgba(30,30,30,.5);
}


/*block and unblock*/
.block .modal-header{
  justify-content: center;
}
.block .modal-header h2.modal-title{
  font-size: 1.5rem;
  text-align: center;
}
.block .modal-content .content a{
  color: black;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #deede6;
  text-align: center;
}
.block .modal-content .content a.action{
  color:red;
}

.block .modal-content .content a:hover{
  background-color: #f8f9fa;
}

.block .modal-content .content h5{
  padding:10px;
  text-align: center;
}

/*block and unblock done*/

.block-done .modal-header{
  justify-content: center;
}
.block-done .modal-header h2.modal-title{
  font-size: 1.5rem;
  text-align: center;
}
.block-done .modal-content .content a{
  color: black;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #deede6;
  text-align: center;
}


.block-done .modal-content .content a:hover{
  background-color: #f8f9fa;
}

.block-done .modal-content .content h5{
  padding:10px;
  text-align: center;
}

/*unfollow done*/
.unfollow-done .modal-header{
  justify-content: center;
}
.unfollow-done .modal-header h2.modal-title{
  font-size: 1.5rem;
  text-align: center;
}
.unfollow-done .modal-content .content a{
  color: black;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #deede6;
  text-align: center;
}


.unfollow-done .modal-content .content a:hover{
  background-color: #f8f9fa;
}

.unfollow-done .modal-content .content h5{
  padding:10px;
  text-align: center;
}

/*drop down profile*/

.profile_container .profile_info .cart div.name{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: start;
}
.profile_container .profile_info .cart div.name .profile-more{
  justify-self: end;
}
.cart .hide{
  display: none;
}

/*search page*/

.search_container {
  background-color: white;
  padding: 10px;
  width: 350px;

  height: 100vh;
  padding: 1.5em 1em;
}


.search_container h2 {
  color: rgb(38, 38, 38);
  padding-bottom: 1em;
  font-size: 25px;
}
.search_container form {
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1.5em;
}
.search_container form input {
  background: transparent !important;
  font-weight: 300;
  padding: 5px 10px;
  outline: none;
  border: none !important;
}
.search_container .find .desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 20px;
}
.search_container .find .desc h4 {
  margin: 0;
  font-size: 20px;
}
.search_container .find .desc p {
  margin: 0;
}
.search_container .find .desc p a {
  font-weight: 500;
  color: rgb(0, 149, 246);
}
.search_container .find .account .clear a {
  color: rgb(142, 142, 142);
}

.search_container .find .account:hover{
  background-color: rgb(239, 239, 239);
}


/*notification page*/
.notification_container {

  background-color: white;
  padding: 10px;
  width: 350px;
  height: 100vh;
  padding: 1.5em 1em;
}


.notification_container h2 {
  color: rgb(38, 38, 38);
  padding-bottom: 1em;
  font-size: 25px;
}
.notification_container .info span {
  font-weight: 300;
  font-size: 13px;
  color: rgb(38, 38, 38);
}
.notification_container .info span.time {
  color: rgb(142, 142, 142);
  font-weight: 400;
}
.notification_container .notifications .notif .follow_you button {
  border: none;
  padding: 5px 10px;
  background-color: rgb(0, 149, 246);
  border-radius: 5px;
  color: white;
  font-weight: 500;
}
.notification_container .notifications .notif .story_like {
  padding: 0;
}
.notification_container .notifications .notif .story_like img {
  margin: auto;
  border-radius: 5px;
  height: 50px;
  border: none;
}


/*report-problem*/
.messages-modal{
  display: none;
  position: fixed;
  background-color: rgba(30,30,30,.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.report-problem-div{
 background-color: white;
 border: 1px solid #e7e7e7;
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  

}
.report-problem-div img{
  border: 1px solid #e7e7e7;
    left: 50%;
    width: 50px;
    border-radius: 50%;

}
.report-problem-div img.message-logo{
  position: relative;
  transform: translate(-50%, -35px);

}
.report-problem-div img.submited{
  display: block;
  margin: 0 auto;
  
}
.report-problem-div h1{
  text-align: center;
}

.report-problem-form input{
  margin-top: 20px;
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;

}



/*create modal*/
#create_modal .modal-body{
  height: 70vh;
}
#create_modal .modal-content #image_description .img_p{
  background-color: white;
  display: grid;
  align-content: center;
  justify-content: center;
}
#create_modal .modal-content #image_description .img_p img{
  height:40vh;
  justify-self: center;
  align-self: center;
}
  #create_modal .modal-body #image_description {
    grid-template-columns: 1fr;
    background-color: white;
  }


#image_description  .description .cart{
  margin-bottom: 10px;
}
/*more style*/

.more,.profile-more,#image-upload{
  cursor: pointer;
}

/*delete,block and report to red */
a#delete_modal,a.report-problem,a.delete-btn-post,a.delete-btn-comment,a.block,.block .modal-content .content a.block-action{
  color:#FF0800;
}

.profile_container .profile_info .info div.name button.contact,
.profile_container .profile_info .info div.name button.unblock
{
  background-color: #007FFF;
  color: white;
}



/*progress*/

.progress-div #progress{
  display: none;
  width: 100%;
}