{%extends 'base.html'%}
{% load static%}
{%load social_tags%}
{%block content%}

        <div id="notification" class="notification_container">
            <h2>Notifications</h2>
            <div class="notifications">
                {%notifications user as notifs%}
                {%for notif in notifs%}
                <div class="notif follow_notif" data-from_user={{notif.user.id}}  data-contact={{notif.object_id}}>
                    <div class="cart">
                        <div>
                            <div class="img">
                                <img src="{{notif.user.profile.profile_image.url}}" alt="">
                            </div>
                            <div class="info">
                                <p class="name">
                                    {{notif.user}}
                                    <span class="desc">{{notif.verb}}</span>
                                    <span class="time">{{notif.created}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="follow">
                            <button class="notif_btn confirm_follow" >confirm</button>
                            <button class="notif_btn delete_request">delete</button>
                        </div>
                    </div>
                </div>
                {%endfor%}

            </div>
        </div>
{%endblock%}        


