{%extends 'base.html'%}
{% load static%}

{%block content%}

        <div id="search" class="search_container">
            <h2>Search</h2>
            <form>
                <input type="text" placeholder="Search">
            </form>
            <div class="find">
                <div class="account-clone">
                    <div class="cart">
                        <div>
                            <div class="img">
                            </div>
                            <div class="info">
                                <a href="">
                                    <p class="username"></p>
                                    <p class="name"></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}