{%extends 'base.html'%}
{%load static%}
{%block content%}
        <div class="tab-menu">
            <div class="tab">
                <div>Settings</div>
                <button class='tablinks ' data-tab='edit-profile'>Edit profile</button>
                <button class='tablinks' data-tab='personal-detail'>Personal details</button>
                <button class='tablinks' data-tab='account-privacy'>Account Privacy</button>
                <button class='tablinks' data-tab='security'>Password and Security</button>
                <button class='tablinks' data-tab='deactivate'>Deactivate Account</button>

            </div>
            <div class="tab-content container"> 

                <div id='edit-profile' class="row hide">
                            <div class="title hide">
                                <a href="#" class="back"><img src="{% static 'images/back.png' %}" width=20 ></a>
                                <h1>Edit profile</h1>
                            </div>
                            <div class="messages">
                                
                            </div>
                            <form method="POST" class="profile-form">
                               <div class='col image-container'>
                                    <img id='profile_image'src="" >
                                    <input type="file" name="profile_image" style="display:none" id='image-input'>
                                    <button id='imgBtn'>change profile image</button>
                               </div>     
                               <div class='col'>
                                    <label for="name">Name</label>
                                    <input type="text" name="first_name" id='first_name'>
                               </div>
                                <div class='col'>
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id='username'>
                               </div>
                                <div  class='col'>
                                    <label for="bio">Bio</label>
                                    <textarea  name="bio" id='bio' id='bio'></textarea>                               
                               </div>
                               <button class="save">save changes</button>

                            </form>  
                        

                </div>
                <div id="personal-detail" class="row hide">
                            <div class="title hide">
                                <a href="#" class="back"><img src="{% static 'images/back.png' %}" width=20 ></a>
                                <h1>personal-detail</h1>
                            </div>
                            <div class="messages">
                                
                            </div>
                            <form method="POST" class='personal-form'>
                               <div class='col'>
                                    <label for="email">email</label>
                                    <input type="email" name="email" id='email'>
                               </div>
                                <div class='col'>
                                    <label for="birth_day">birthday</label>
                                    <input type="date" name="birth_day" id='birth_day'>
                               </div>

                               <button class="save">save changes</button>
                            </form>
                </div>

                <div id='account-privacy' class="row hide">
                                                <div class="title hide">
                                <a href="#" class="back"><img src="{% static 'images/back.png' %}" width=20 ></a>
                                <h1>Account privacy</h1>
                            </div>
                            
                            <div class='is-private'>
                                 <span>
                                     Private Account
                                 </span>
                            <label class="switch">

                              <input type="checkbox" checked name='private' id='private'>
                              <span class="slider round"></span>
                            </label>
   
                            </div>
                            <p>
                                when your account is public, your profile and posts can be seen by anyone.
                            </p>
                            <p>
                                when your account is private, only people you approve can see your posts.Yours existing followers won't be affected.
                            </p>

                            

                </div>
                <div id="security" class='row hide'>
                            <div class="title hide">
                               <a href="#" class="back"> <img src="{% static 'images/back.png' %}" width=20 ></a>
                                <h1>Security</h1>
                            </div>
                            <div class="messages">
                                
                            </div>

                            <form method="POST" id="change-password-form">
   
                               <div class='col'>
                                    <label for="old_password">old password</label>
                                    <input type="password" name="old_password" id='old_password'>
                               </div>
                                <div class='col'>
                                    <label for="password1">new password</label>
                                    <input type="password" name="password1" id='password1'>
                               </div>
                                <div class='col'>
                                    <label for="password2">confirm new password</label>
                                    <input type="password" name="password2" id='password2'>
                               </div>

                               <button class="save">change password</button>

                            </form>  
                </div>

                <div id="deactivate" class='row hide'>
                            <div class="title hide">
                               <a href="#" class="back"> <img src="{% static 'images/back.png' %}" width=20 ></a>
                                <h1>Deactivate Account</h1>
                            </div>
                             <h5>Please be aware that deactivating your account will result in the permanent deletion of all your data. This action is irreversible. If you proceed, all your information, including your profile, saved items, and any personal data, will be permanently erased and cannot be recovered.</h5>
                            <form method="POST" id="deactivate-form" action="{%url 'deactivate' request.user.pk %}">
                                {%csrf_token%}
                              
                               <h2>Do you wish to continue with deactivating your account?</h2>
                               <input  type='submit'class="deactivate" value="deactivate">

                            </form>  
                </div>
            </div>

{{user.profile.id|json_script:'user'}}

{%endblock%}