{%extends 'transfer/base.html'%}
{%load static%}
{%block main%}
<main>
    <section class="profile-header">
        
    <div class="profile-stat">
        <div class="profile-image">
            <img src="{%if owner.profile.profile_image%}{{owner.profile.profile_image.url}}{%else%}
                {%static 'img/profile_image/blank-profile.png'%}
                {%endif%}">
        </div>
        <div class="posts">
            <p>posts</p>
            <p>{{total_post}}</p>
        </div>
        <div class="follower">
            <p>follower</p>
            <p>{{follower_count}}</p>
        </div>
        <div class="following">
            <p>following</p>
            <p>{{following_count}}</p>
        </div>
    </div>
    
    <span class='username'>@{{owner.username}}</span>
    <div class='profile-bio'>
        {{user.profile.bio}}
    </div>
    <div class="interaction">
        {%if access%}
<button class="btn connect " data-type='unfollow' data-owner='{{owner.id}}' data-contact='{{contact_id}}'>UnFollow</button>
{%else%}
<button class="btn connect" data-type='follow' data-owner='{{owner.id}}' data-contact='{{contact_id}}'>Follow</button>
{%endif%}
        <button class="message">Message</button>
    </div>
    </section>
    <section class="posts-thumbnail">
        {%for post in object_list%}
        <div class="profile-post">
            <img src="{{post.image.url}}">
        </div>
        {%endfor%}
    </section>
</main>
{%endblock%}